spring:
  application:
    name: biaslens-spring

  datasource:
    url: jdbc:postgresql://localhost:5432/biaslens
    username: biaslens
    password: biaslens
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

server:
  port: 8080

# OpenAPI / Swagger UI
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha

